.head{
    position: relative;
    text-align: center;
    color: white;

}
.nav a{
    position:absolute;
    top: 30px;
    left: 30px;
    color: white;
    font-size: large;
    text-decoration: none;
    
}
.logo{
    position: absolute;
    top: 50px;
    left: 35%;
    color:red;
    font-size:50px;
}
.search{
    position: absolute;
    top:300px;
    left: 33%;
}
.nav-bar
{
    list-style-type: none;
}

li a{
    position: relative;
    float: left;
    text-decoration: none;
    padding-left:30px;
    color:white;
    font-size: large;
    top: -389px;
    left: 75%;
}

pre p{
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:normal;
    color: #FF0000;

}
main a{
    border:solid 2px black;
    border-radius: 5px;
    cursor: pointer;
    background-color:beige;
    text-decoration: none;
}
main a:hover{
     color: brown;
     background-color: blanchedalmond;

}
.caution{
    color: black;
    font-size: medium;
}
